* {
    margin: 0;
    padding: 0;
}

.h1 {
    background-color: yellow;
    border: 2px solid black;
}

input {
    height: 2rem;
    border: 1px solid black;
    border-radius: 6px;
    font-size: large;
}

@media screen and(max-width:768px) {
    input {
        height: 1rem;
        border-radius: 3px;
        font-size: small;
    }
}


.makeadminspan {
    margin: 2rem;
}

.makeadmindiv {
    margin: 1rem;
}

.grpinput,
.searchtext::placeholder {
    color: #6407bb;
    font-size: large;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .grpinput,
    .searchtext::placeholder {
        font-size: medium;
        text-align: left;
    }
}

button {
    width: 7rem;
    height: 2rem;
    border-radius: 6px;
    background-color: #E4F1FF;
}

@media screen and (max-width: 768px) {
    button {
        width: 100%;
        height: 2rem;
        background-color: #E4F1FF;
    }
}

h3 {
    margin-bottom: 1rem;
    color: fuchsia;
}

body {
    display: flex;
    text-align: center;
    height: 100vh;
    background-color: white
}

.firstbody {
    width: 30vw;
    height: 100vh;
    overflow-y: auto;
    border: 1px solid black;
    background-color: #A6FF96;

}

@media screen and (max-width: 768px) {
    .firstbody {
        width: 100%;
        height: auto;
    }

    .pageopen {
        height: fit-content;
        width: 5rem;
    }
}


@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        height: auto;

    }

    .last {
        width: 100%;
        height: auto;

        border: none;

    }

    .grpscreenli {
        width: 100%;
        height: fit-content;
    }

    .grpinput {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .creategrp {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    p {
        width: 90%;
        max-width: 100%;
    }

    .div1 {
        height: auto;
    }
}

.main {
    width: 45vw;
    height: 80vh;
}

.last {
    width: 25vw;
    height: 100vh;
    border: 1px solid white;
}

.foot {
    display: flex;
}

.grpscreenli {
    width: 18vw;
    height: fit-content;
    background-color: #fff;
}

.grpinput {
    width: 15vw;
    height: 6vh;
    border-radius: 6px;
}

.creategrp {
    width: 7vw;
    height: 6vh;
    border-radius: 6px;
}

.send-btn {
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 5rem;
    border: 2px solid white;
    background-color: rgb(39, 38, 38);
}

.foot {
    display: flex;
    justify-content: center;
}

.msg {
    width: 50vw;
    height: 2rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin-right: 1.9%;
}

.h3 {
    height: fit-content;
    overflow: auto;
    background-color: #fff;
}


.ul-first {
    list-style: none;
    height: 70vh;
    background: #F8FF95;
    text-align: start;
    font-size: large;
    overflow-x: auto;
    /* height: 400px; */
    /* Set the desired height */
    overflow: auto;
    /* Enable vertical scrolling */
    border: 2px solid red;
}

li {
    border: 1px solid rgb(226, 133, 18);
    margin-top: 0.1rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    color: #FF3FA4;
    /* margin-right: 2rem; */
    height: 1px;

}

.div3,
.div4 {
    width: 25vw;
    height: 50vh;
    border: 1px solid black;
    background-color: #A6FF96;
    border: 1px solid black;
}

.div3btn {
    /* display: block; */
    width: 10vw;
    height: 6vh;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 1rem;
    margin-right: 6px;
}

.div3h2 {
    background-color: #BC7AF9;
    margin-bottom: 1rem;
    border: 2px solid black;
}

.div3 {
    overflow: auto;
    height: 40%;
}

.div4 {
    overflow: auto;
    height: 60%;
}

.div3btnn {
    display: block;
    width: 10vw;
    height: 6vh;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 1rem;
}

h4 {
    display: inline;
}

.div1h2 {
    display: inline;
    color: fuchsia;
    margin-right: 1rem;
}

.div1 {
    margin-top: 1.6rem;
    height: 70vh;
}

.div1li {
    margin-bottom: 1rem;
    overflow: auto;
}

.admin {
    width: 4rem;
    height: 2rem;
    font-weight: bold;
}

.admingrp {
    margin-top: 2rem;
}

tr {
    margin-top: 0.4rem;
    border: 1px solid black;
}

td {
    margin-right: 0.7rem;
}

.div3h2-users {
    background-color: rgb(190, 168, 22);
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.add {
    margin-left: 1rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 5rem;
    border: 2px solid white;
    background-color: rgb(39, 38, 38);
}

p {

    border: 3px solid greenyellow;
    margin-top: 0.8rem;
    width: max-content
}

button:hover {
    background-color: #2980b9;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.span {
    font-family: ui-monospace;
    font-weight: bold;
    color: #ab2b0e;
    background-color: white;
    padding: 1px;
    border-radius: 7px;
    margin-left: 3rem;
}

.msg-span {
    font-size: 22px;
    letter-spacing: 2px;
    font-family: monospace;
    color: crimson;
}

@media screen and (max-width: 768px) {
    .msg-span {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .new-page {
        width: 2rem;
        margin: 0 auto;
    }

    .close-button {
        top: 2px;
        right: 2px;
        font-size: 10px;
    }

    .makeadmindiv {
        margin: 1rem;
        width: 6rem;
    }

    .span {
        margin-left: 1rem;
    }
}


.new-page {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 23rem;

}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
    color: #999;
}